<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Nick Schaden</string>
	<key>Builder Version</key>
	<string>8536.25</string>
	<key>CFBundleDisplayName</key>
	<string>Hacker News Restyled</string>
	<key>CFBundleIdentifier</key>
	<string>com.nschaden.hackernewsrestyled</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.56</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/main.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>js/jquery.min.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>css/main.css</string>
			<string>css/comments.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Helvetica and keyboard shortcuts for a better Hacker News experience.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>news.ycombinator.com</string>
				<string>hackerne.ws</string>
				<string>news.ycombinator.net</string>
				<string>news.ycombinator.org</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.nickschaden.com</string>
</dict>
</plist>
